{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to Ovarseer Engine !!!</h1>
        <p class="lead">This application is combination of both face and gait recognition in surveillance domain</p>
    </div>
{% include 'includes/_tabs.html' %}
<!-- <form action="http://localhost:5000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files[]" id="files" multiple="" directory="" webkitdirectory="" mozdirectory="">
        <input class="button" type="submit" value="Upload" />
    </form> -->
{% endblock %}